<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>First Page</title>
  <link rel="stylesheet" href="/static/stylesLogin.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Python Bank</a>
          </div>
        </div>
      </nav>
    
  <br><br>
    <div class="w3-hover-shadow w3-auto w3-white w3-round-large " >
        <div class="heading" align="center">
          <br>
                <h2 style="color:#048998">Login Page</h2>
        </div>
        <div class="alert alert-danger " role="alert">
            {% if error %}
            <p><strong>Error:</strong> {{ error }}
         {% endif %}
         <span class="glyphicon glyphicon-alert glyphicon-align-right"></span>
          </div>
        
            <div class="container">
                    <form action = "{{ url_for('postlogin') }}" method = "POST">
                        Custormer ID : <br>
                        <input type="text" name="customerid" ><br>
                        Password : <br>
                        <input type="password" name="password"><br><br>
                        <button class="button">Sign In</button>
                    </form>
                    <br><br>
                    Not Registerd Yet?
                    
                    <form action="{{ url_for('newregister') }}" method="POST">
                      <button class="w3-button w3-white w3-border w3-border-indigo ">New Register</button>
                    </form>
            </div>
        <br>
        <br>
          </div>
</body>
</html>


